######BODY######
[
    @@Setting@@
]
######BODY######

######TASK######
    {
        "Xmas_shell":"python3 Christmas.py Input/GenCode/TASK#@@Task@@",
        "Xmas_cwd":".",
        "Xmas_judge":true
    },
######TASK######

######LINK######
    {
        "Xmas_shell":"python3 Christmas.py Input/MergeCode/LinkModule",
        "Xmas_cwd":".",
        "Xmas_judge":true
    }
######LINK######